Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 3fr;
}

.border {
    height: 100%;
    border: round #D8DEE9;
    background: #2E3440;
}

.horizontal-layout {
    height: 100%
}

.vertical-layout {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 90% 10%;
}

#file-ex {
    height: 3fr
}

#search {
    height: 1fr
}